@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation: rotate 5s infinite linear;
}
